@use "./base.scss";

// put your custom CSS here!

/*
    Centrado de las imágenes. 
*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article.popover-hint img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-listing .tag-link {
    display: none;
}

.tag-link {
    display: none;
}